.TimerBtnGroup {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  width: 100%;
  max-width: 400px;
  padding: 0 10px;
}

.TimerButton{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 100%;
  padding: 10px;
  border-radius: 50px;
  border: 1px solid #333;
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.356);
  background: linear-gradient(270deg, #f0f0f0, gray, #ddd, white);
  outline: 2px solid rgb(121, 121, 121);
  margin: 1rem;
  transition: .5s linear;
}

.TimerButton:hover{
  background: linear-gradient(270deg, #ddd, gray, #f0f0f0, white);
}

.TimerButton:active{
  background: linear-gradient(270deg, #f0f0f0, gray, #ddd, white);
}

.TimerButton:disabled{
  background: linear-gradient(270deg, #ddd, gray, #f0f0f0, white);
  opacity: 0.5;
}

.Set{
  width: 5rem;
  height: 5rem;
}

.Chrono{
  width:50px;
  height:50px;
}