/* 

    You can write your own styles here...
    
    
    ...Or you can use the import command to include 
    other sylesheets into your bunde as well, e.j:
    
    import 'relative/path/to/stylesheet.scss';

*/@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3&display=swap');
body{
  padding: 3rem;
  font-family: 'Source Sans 3', sans-serif;
  background-color: #071038;

}
@import url('https://fonts.googleapis.com/css2?family=Silkscreen&display=swap');
.MainWrapper {
  height: 100vh;
  width: 100vw;
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: repeat(2, 1fr);
  grid-template-areas:
    "counter chronometer"
    "analogclock timer";
  grid-gap: 3rem;
}


.Digits{
  font-family: 'Silkscreen', cursive;
}
.SimpleCounter {
  grid-area: counter;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  height: 100%;
  width: 100%;
  padding: 4rem;
}
.CounterContainer{
  background: linear-gradient(300deg, #f0f0f0, gray, #ddd, white);
  width:100%;
  height: 100%;
  padding: 1rem;
  border-radius: 10px;
  border: 1px solid #333;
  box-shadow: 10px 10px 10px #333;
}
.Display{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  border-bottom: rgba(51, 51, 51, 0.486) 1px solid;
  margin-right: 2rem;
}
.Display:first-of-type{
  border-top:  rgba(51, 51, 51, 0.486) 1px solid;
}
.Countdown {
  grid-area: chronometer;
  display: flex;
  height: 100%;
  width: 100%;
}
.Label{
  font-size: larger;
  font-weight: bold;
}
