/* 

    You can write your own styles here...
    
    
    ...Or you can use the import command to include 
    other sylesheets into your bunde as well, e.j:
    
    import 'relative/path/to/stylesheet.scss';

*/
body{
  background-color: #f0f0f0;
  padding: 3rem;
}
@import url('https://fonts.googleapis.com/css2?family=Silkscreen&display=swap');
.MainWrapper {
  height: 100vh;
  width: 100vw;
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: repeat(2, 1fr);
  grid-template-areas:
    "counter countdown"
    "chronometer timer";
}

.Digits{
  font-family: 'Silkscreen', cursive;
}
.SimpleCounter {
  grid-area: counter;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  height: 100%;
  width: 100%;
  padding: 4rem;
}
.CounterContainer{
  background: linear-gradient(300deg, #f0f0f0, gray, #ddd, white);
  width:100%;
  height: 100%;
  padding: 1rem;
  border-radius: 10px;
  border: 1px solid #333;
  box-shadow: 10px 10px 10px #333;
}
.Display{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  border-bottom: rgba(51, 51, 51, 0.486) 1px solid;
  margin-right: 2rem;
}
.Display:first-of-type{
  border-top:  rgba(51, 51, 51, 0.486) 1px solid;
}
.Countdown {
  grid-area: countdown;
  display: flex;
  height: 50%;
  width: 50%;
}
.Label{
  font-size: larger;
  font-weight: bold;
}
.AnalogClock {
  grid-area: chronometer;
  display: flex;
  height: 100%;
  width: 100%;
  background: linear-gradient(270deg, #f0f0f0, gray, #ddd, white);
  border-radius: 100%;
  padding: 2rem;
  outline: 5px solid rgb(121, 121, 121);
  border: 1px solid #f0f0f0;
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.356);
}
.Timer {
  grid-area: timer;
  display: flex;
  height: 100%;
  width: 100%;
  background-color: pink;
}

.TimerContainer{
  display: flex;
  height: 100%;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
}
.ClockContainer {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem;
}

.hand {
  position: absolute;
  z-index: 5;
  width: 4px;
  height: 105px;
  background: #333;
  margin-top: 50%;
  transform-origin: 50% 72px;
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
  box-shadow: 3px -5px 10px black;
}

.second-hand{
  background-color: rgb(112, 0, 0);
  z-index: 0;
}
.clock {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 500px;
  height: 500px;
  border: 1px saddlebrown solid;
  background:radial-gradient(rgb(17, 14, 214), black);
  border-radius: 100%;
  z-index: 1;
  border: #f0f0f0 2px solid;
  outline: 1px solid gray;
}
.clock::before{
  content:"Quartz";
  text-transform: uppercase;
  letter-spacing: 2px;
  font-family: sans-serif;
  font-size: larger;
  font-weight: bolder;
  position: absolute;
  margin-bottom: 10%;
  color:white;
}

.clockHands {
  display: flex;
  flex-direction: row;
  justify-content: center;
  position: relative;
  height: 100%;
  width: 100%;
  border-radius: 50%;
  z-index: 2;
  margin-bottom: 25%;
}
.clock-face {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 40%;
  height: 50%;
  border-radius: 50%;
  position: absolute;
}

.I {
  height: 50%;
  font: 26px Monaco, MonoSpace;
  position: absolute;
  width: 20px;
  margin: none;
  transform-origin: bottom center;
  transform: rotate(30deg);
}
.II {
  height: 50%;
  font: 26px Monaco, MonoSpace;
  position: absolute;
  width: 20px;
  margin: none;
  transform-origin: bottom center;
  transform: rotate(60deg);
}
.III {
  height: 50%;
  font: 26px Monaco, MonoSpace;
  position: absolute;
  width: 20px;
  margin: none;
  transform-origin: bottom center;
  transform: rotate(90deg);
}
.IV {
  height: 50%;
  font: 26px Monaco, MonoSpace;
  position: absolute;
  width: 20px;
  margin: none;
  transform-origin: bottom center;
  transform: rotate(120deg);
}
.V {
  height: 50%;
  font: 26px Monaco, MonoSpace;
  position: absolute;
  width: 20px;
  margin: none;
  transform-origin: bottom center;
  transform: rotate(150deg);
}
.VI {
  height: 50%;
  font: 26px Monaco, MonoSpace;
  position: absolute;
  width: 20px;
  margin: none;
  transform-origin: bottom center;
  transform: rotate(180deg);
}
.VII {
  height: 50%;
  font: 26px Monaco, MonoSpace;
  position: absolute;
  width: 20px;
  margin: none;
  transform-origin: bottom center;
  transform: rotate(210deg);
}
.VIII {
  height: 50%;
  font: 26px Monaco, MonoSpace;
  position: absolute;
  width: 20px;
  margin: none;
  transform-origin: bottom center;
  transform: rotate(240deg);
}
.IX {
  height: 50%;
  font: 26px Monaco, MonoSpace;
  position: absolute;
  width: 20px;
  margin: none;
  transform-origin: bottom center;
  transform: rotate(270deg);
}
.X {
  height: 50%;
  font: 26px Monaco, MonoSpace;
  position: absolute;
  width: 20px;
  margin: none;
  transform-origin: bottom center;
  transform: rotate(300deg);
}
.XI {
  height: 50%;
  font: 26px Monaco, MonoSpace;
  position: absolute;
  width: 20px;
  margin: none;
  transform-origin: bottom center;
  transform: rotate(330deg);
}
.XII {
  height: 50%;
  font: 26px Monaco, MonoSpace;
  position: absolute;
  width: 20px;
  margin: none;
  transform-origin: bottom center;
  transform: rotate(360deg);
}
